{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Bootstrap css link  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Css local link   -->
    <link rel="stylesheet" href="{% static 'css/style_1.css' %}">
</head>
<body>

    <table>
        <tr>
          <th>EmployID</th>
          <th>Name</th>
          <th>Company</th>
          <th>Designation</th>
          <th>Place</th>
          <th>Salary</th>
        </tr>
        {% for o in ob %}
        <tr>
          <td>{{o.emp_id}}</td>
          <td>{{o.name}}</td>
          <td> {{o.company}}</td>
          <td>{{o.designation}}</td>
          <td>{{o.place}}</td>
          <td>{{o.salary}}</td>
          <td><button><a href="{% url 'empview' o.pk %}">View</a></button></td>
          <td><button><a href="{% url 'edit' o.pk %}">Edit</a></button></td>
          <td><button><a href="{% url 'delete' o.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
      </table>

</body>
</html>