{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    {% block body_block %}

    <h3> Password Rest sent </h3>

    <p>
        We'have emailed you instruction for setting your password, if an account extists with email you entered.You should receive them shortly.If you don't receive an email, please make sure you've entered the address you registered with, and check your spam forlder.
    </p>

    {% endblock %}

</body>
</html>