{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    {% block body_block %}
    <!-- Password Reset Complete -->

    {% if validlink %}
        <h3 class="font-weight-bold mt-3"> Password Rest Complete</h3>
        <hr>
        <p>
            Your password has been set. You may go ahead and log in now.
        </p>
        <a href="/login" class="btn btn-primary">Log in</a>
    {% else %}
    
    {% endif %}

    {% endblock %}

</body>
</html>