{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project3 College App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="aqua">
    <p class="red">This is red content</p>
    {% for o in o2 %}
    School : {{o.name}} <br>
    Place : {{o.place}} <br>
    pincode : {{o.pincode}} <br> <br> <br>
    {% endfor %}
</body>
</html>